<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YiMiXiCan</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DietHabitServlet</display-name>
    <servlet-name>DietHabitServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.DietHabitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DietHabitServlet</servlet-name>
    <url-pattern>/DietHabitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SportHabitServlet</display-name>
    <servlet-name>SportHabitServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.SportHabitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SportHabitServlet</servlet-name>
    <url-pattern>/SportHabitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleHabitServlet</display-name>
    <servlet-name>ScheduleHabitServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.ScheduleHabitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleHabitServlet</servlet-name>
    <url-pattern>/ScheduleHabitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertHabitServlet</display-name>
    <servlet-name>InsertHabitServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.InsertHabitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertHabitServlet</servlet-name>
    <url-pattern>/InsertHabitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancleHabitServlet</display-name>
    <servlet-name>CancleHabitServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.CancleHabitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancleHabitServlet</servlet-name>
    <url-pattern>/CancleHabitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllTipsServlet</display-name>
    <servlet-name>FindAllTipsServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.FindAllTipsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllTipsServlet</servlet-name>
    <url-pattern>/FindAllTipsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTipById</display-name>
    <servlet-name>FindTipById</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.FindTipById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTipById</servlet-name>
    <url-pattern>/FindTipById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCardServlet</display-name>
    <servlet-name>MyCardServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.MyCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCardServlet</servlet-name>
    <url-pattern>/MyCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyShareServlet</display-name>
    <servlet-name>MyShareServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.MyShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyShareServlet</servlet-name>
    <url-pattern>/MyShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformationServlet</display-name>
    <servlet-name>UserInformationServlet</servlet-name>
    <servlet-class>com.nankai.yimixican.servlet.UserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformationServlet</servlet-name>
    <url-pattern>/UserInformationServlet</url-pattern>
  </servlet-mapping>
</web-app>